.about {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  margin: 0px;
  gap: 40px;
}

.about .content {
  width: 40vw;
}
.about .content h1 {
  color: white;
  font-size: 40px;
}

.about .content span {
  color: #3366b9;
  /* text-shadow: 0 0 20px #87a4d3; */
}
.about .content p {
  padding: 10px 0px;
  font-weight: 500;
  color: #ffffff80;
  font-size: 20px;
}

.social {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.social a {
  font-size: 30px;
  color: #fff;
  transition: 0.3s;
}

.social a:hover {
  transform: scale(1.5);
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 2); */
  box-shadow: 0 0 10px #8ab2f1;

  /* rgba(150, 189, 295, 2); */
}

.content button {
  cursor: pointer;
  padding: 8px 12px;
  border-radius: 10px;
  border: 0px;
  background-color: #8ab2f1;
  color: #2d5493;

  font-weight: 700;
  font-size: 12px;
  box-shadow: 0 0 10px rgba(59, 102, 171, 0.5);

  transition: 0.5s;
}

.content button:hover {
  transform: scale(1.2);
}

.avatar img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  object-position: center;
  border: 5px solid #464646;
}
