.about {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
  gap: 20px;
}
.about .avatar img {
  width: 300px;
  border-radius: 50%;
}

.about .content {
  width: 400px;
}

.about .content .social img {
  width: 30px;
  margin: 10px;
}
