* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: transparent;
  padding: 30px 100px;
  font-family: "poppins";

  position: fixed; /* cố định navbar */
  top: 0; /* sát mép trên */
  left: 0;
  width: 100%; /* full chiều ngang */
  z-index: 1000; /* nổi trên các phần tử khác */
}

.navbar a {
  font-size: 16px;
  font-weight: 500;
  text-decoration: none; /* delete underline */
  color: #000;
  transition: 0.5s;
}

.navbar .navbar-right {
  display: flex;
  gap: 40px;
}

.navbar .navbar-right li {
  list-style: none; /* del .dot */
  font-weight: 500;
}

.navbar .navbar-right li a {
  position: relative; /* để ::after định vị */
  text-decoration: none; /* delete underline */
  cursor: pointer;
  color: #464646;
  transition: color 0.3s;
}

.navbar .navbar-right li.active a {
  padding-bottom: 2px;
  border-bottom: 2px solid #3b66ab;
  color: #2453a0;
}

.navbar .navbar-right li.no-active a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  border-bottom: 2px solid #3b66ab;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s;
}
.navbar .navbar-right li a:hover {
  color: #1e4686;
}
.navbar .navbar-right li a:hover::after {
  transform: scaleX(1);
}
