#project {
  scroll-margin-top: 100px;
}

.project {
  background-color: transparent;
  min-height: 100vh;
  padding: 60px 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* header */
.project-header {
  text-align: center;
  margin-bottom: 60px;
}

.project-header h1 {
  font-size: 1.8rem;
  font-weight: 700;
  color: #c1c1c1;
}

.project-header p {
  margin-top: 10px;
  color: #94a3b8;
  font-size: 1rem;
}

.project-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
  width: 100%;
  /* max-width: 1200px; */
  margin: 0 auto;
}

.project-card {
  background: rgba(30, 41, 59, 0.4);
  background-image: url("https://www.transparenttextures.com/patterns/otis-redding.png");

  border: 1px solid rgba(255, 255, 255, 0.1);

  height: 100%;
  border-radius: 24px;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  position: relative;

  transition: all 0.4s ease;
  backdrop-filter: blur(20px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.project-card:hover {
  transform: translateY(-10px);
  border-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.6);
}

.project-img-wrapper {
  position: relative;
  height: 380px;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0px;
  box-sizing: border-box;
  overflow: visible;
}

.project-img-wrapper img {
  position: relative;
  z-index: 10;
  transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  filter: drop-shadow(0 20px 30px rgba(0, 0, 0, 0.5)); /* Bóng đổ chung */
}

.project-img-wrapper img.food {
  width: 90%;
  height: auto;
  max-width: 450px;
  object-fit: contain;
}

.project-img-wrapper img.ecotrack {
  height: 90%;
  width: auto;
  max-height: 320px;
  object-fit: contain;
}

.project-card:hover .project-img-wrapper img {
  transform: scale(1.05) translateY(-10px);
}

.project-info {
  background: rgba(15, 23, 42, 0.7);
  background-image: url("https://www.transparenttextures.com/patterns/otis-redding.png");

  padding: 25px;
  display: flex;
  flex-direction: column;
  flex: 1;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}

.info-text h2 {
  font-size: 1.2rem;
  color: #c1c1c1;
  margin: 0 0 10px 0;
  font-weight: 600;
}

.info-text p {
  font-size: 0.9rem;
  color: #94a3b8;
  line-height: 1.6;
  margin-bottom: 20px;
  overflow: hidden;
}

/* tech */

.tech-stack {
  display: flex;
  gap: 10px;
}
/* 
.tech-pill {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 50px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tech-pill img {
  width: 20px;
  height: 20px;
  object-fit: contain;
} */

@media (max-width: 768px) {
  .project-img-wrapper {
    height: 250px; /* Mobile thì vùng chứa thấp hơn */
  }

  /* Trên mobile, laptop cần to hơn chút để rõ chi tiết */
  .project-img-wrapper img.food {
    width: 95%;
  }

  /* Trên mobile, điện thoại cần nhỏ lại xíu để không sát lề trên dưới */
  .project-img-wrapper img.ecotrack {
    height: 85%;
  }
}

/* Responsive */
@media (max-width: 768px) {
  .project-container {
    grid-template-columns: 1fr;
  }
  .project-img-wrapper {
    height: 250px; /* Mobile thì giảm chiều cao chút */
  }
  .project-img-wrapper img {
    width: 70%; /* Mobile thì ảnh nhỏ lại chút cho vừa mắt */
  }
}
