#project {
  scroll-margin-top: 100px;
}

.project {
  background-color: transparent;
  min-height: 100vh;
  padding: 60px 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* header */
.project-header {
  text-align: center;
  margin-bottom: 60px;
}

.project-header h1 {
  font-size: 1.8rem;
  font-weight: 700;
  color: #e2e8f0;
}

.project-header p {
  margin-top: 10px;
  color: #94a3b8;
  font-size: 1rem;
}

.project-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
  width: 100%;
  /* margin: 0 auto; */
}

.project-card {
  background: rgba(30, 41, 59, 0.4);
  background-image: url("https://www.transparenttextures.com/patterns/otis-redding.png");

  border: 1px solid rgba(255, 255, 255, 0.1);

  height: 100%;
  border-radius: 24px;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  position: relative;

  backdrop-filter: blur(20px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: all 0.4s ease;
}

.project-card:hover {
  /* transform: translateY(-10px);
  border-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.6); */

  transform: translateY(-8px);
  /* border-color: rgba(97, 218, 251, 0.25); */

  box-shadow:
    0 25px 30px rgba(0, 0, 0, 0.4),
    0 0 25px rgba(97, 218, 251, 0.2);
}

.project-img {
  position: relative;
  height: 380px;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0px;
  box-sizing: border-box;
  overflow: visible;
  box-shadow: 0 0 200px rgba(97, 218, 251, 0.35);
}

.project-img img {
  position: relative;
  z-index: 10;
  transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  filter: drop-shadow(0 20px 30px rgba(0, 0, 0, 0.5)); /* Bóng đổ chung */
}

.project-img img.food {
  width: 90%;
  height: auto;
  max-width: 450px;
  object-fit: contain;
}

.project-img img.ecotrack {
  height: 90%;
  width: auto;
  max-height: 320px;
  object-fit: contain;
}

.project-card:hover .project-img img {
  transform: scale(1.05) translateY(-10px);
}

.project-info {
  background: rgba(15, 23, 42, 0.7);
  background-image: url("https://www.transparenttextures.com/patterns/otis-redding.png");

  padding: 25px;
  display: flex;
  flex-direction: column;
  flex: 1;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}

.info-text h2 {
  font-size: 1.2rem;
  color: #e2e8f0;
  margin: 0 0 10px 0;
  font-weight: 600;
}

.info-text p {
  font-size: 0.9rem;
  color: #94a3b8;
  line-height: 1.6;
  margin-bottom: 20px;
  overflow: hidden;
}

/* tech */
.tech-stack {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.tech-items {
  border-radius: 100px;
  padding: 6px 14px;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 0.9rem;
  border: 1px solid #444;
  background-color: rgba(255, 255, 255, 0.05);
  color: #c1c1c1;
}

.tech-items.reactjs {
  color: #61dafb;
  border-color: rgba(97, 218, 251, 0.4);
  background-color: rgba(97, 218, 251, 0.1);
  text-shadow: 0 0 8px rgba(97, 218, 251, 0.6);
}

.tech-items.nodejs {
  color: #6cc24a;
  border-color: rgba(108, 194, 74, 0.4);
  background-color: rgba(108, 194, 74, 0.1);
  text-shadow: 0 0 8px rgba(108, 194, 74, 0.6);
}

.tech-items.mongodb {
  color: #03bc50d3;
  border-color: rgba(0, 237, 100, 0.4);
  background-color: rgba(0, 237, 100, 0.1);
  text-shadow: 0 0 8px rgba(0, 237, 100, 0.6);
}

.tech-items.flutter {
  color: #42a5f5;
  border-color: rgba(66, 165, 245, 0.4);
  background-color: rgba(66, 165, 245, 0.1);
  text-shadow: 0 0 10px rgba(66, 165, 245, 0.8);
}

.tech-items.firebase {
  color: #ffc928bb;
  border-color: rgba(255, 202, 40, 0.4);
  background-color: rgba(255, 202, 40, 0.1);
  text-shadow: 0 0 8px rgba(255, 201, 40, 0.4);
}

.tech-items.cloudinary {
  color: #e0e0e0c1;
  border-color: rgba(224, 224, 224, 0.4);
  background-color: rgba(224, 224, 224, 0.1);
  text-shadow: 0 0 8px rgba(224, 224, 224, 0.4);
}

.tech-items.clip-ai {
  color: #11b38b;
  border-color: rgba(16, 163, 127, 0.4);
  background-color: rgba(16, 163, 127, 0.1);
  text-shadow: 0 0 8px rgb(16, 163, 126);
}

@media (max-width: 1050px) {
  .project {
    padding: 60px 8%;
  }
  .project-header {
    margin-bottom: 40px;
  }
  .project-header h1 {
    font-size: 1.6rem;
  }

  .project-header p {
    margin-top: 10px;
    font-size: 0.9rem;
  }

  .project-container {
    gap: 30px;
  }

  .project-img {
    height: 320px;
  }

  .info-text h2 {
    font-size: 1.1rem;
    color: #e2e8f0;
  }

  .info-text p {
    font-size: 0.8rem;
  }

  .tech-items {
    padding: 4px 12px;
    font-size: 0.85rem;
  }
}

@media (max-width: 900px) {
  .project {
    padding: 50px 6%;
  }

  .project-header {
    margin-bottom: 40px;
  }
  .project-header h1 {
    font-size: 1.5rem;
  }

  .project-header p {
    margin-top: 8px;
    font-size: 0.8rem;
  }

  .project-container {
    display: flex;
    flex-direction: column;
  }

  .project-card {
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
  }

  .project-img {
    height: 280px;

    width: 40%;
    box-shadow: 0 0 300px rgba(97, 218, 251, 0.35);
  }

  .project-img img.food {
    max-width: 400px;
  }

  .project-img img.ecotrack {
    max-height: 200px;
  }

  .project-info {
    justify-content: center;
  }

  .info-text h2 {
    font-size: 1rem;
    color: #e2e8f0;
  }

  .info-text p {
    font-size: 0.75rem;
  }

  .tech-items {
    padding: 3px 10px;
    font-size: 0.75rem;
  }
}

@media (max-width: 750px) {
  .project {
    padding: 60px 60px;
    min-height: auto;
  }

  .project-header {
    margin-bottom: 40px;
  }

  .project-header h1 {
    font-size: 1.3rem;
  }

  .project-header p {
    font-size: 0.7rem;
    padding: 0 10px;
  }

  .project-container {
    display: flex;
    flex-direction: column;
  }

  .project-card {
    flex-direction: column;
    justify-content: center;
  }

  .project-img {
    width: 100%;
    height: 220px;
    box-shadow: 0 0 25px rgba(97, 218, 251, 0.4);
  }

  .project-img img.food {
    max-height: 80%;
    
  }

  .project-img img.ecotrack {
    max-height: 80%;
  }

  .info-text h2 {
    font-size: 0.9rem;
    color: #e2e8f0;
  }

  .info-text p {
    font-size: 0.75rem;
  }

  .tech-items {
    font-size: 0.7rem;
    padding: 5px 10px;
  }
}
