body {
  background-color: #27374f;
  background-color: #21252d;

  background-image: url("https://www.transparenttextures.com/patterns/otis-redding.png");
  background-size: 100px 100px;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth; 
}
