body {
  /* background-color: rgba(10, 14, 20, 0.98); */
  background-color: #27374f;
  background-color: #21252d;

  background-image: url("https://www.transparenttextures.com/patterns/otis-redding.png");
  background-size: 100px 100px;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
html {
  /* Khi click vào link neo (#), trang web sẽ tự động trừ hao 100px phía trên */
  scroll-padding-top: 68px;
  scroll-behavior: smooth; /* Cuộn mượt mà */
}
