body {
  /* background: linear-gradient(to right, rgb(255, 255, 255), rgb(254, 215, 173)); */

  background: linear-gradient(
    to right,
    rgb(255, 255, 255),
    lch(81.42% 27.89 272.16)
  );
  font-family: "Poppins", sans-serif;
}
